@import url('https://fonts.googleapis.com/css?family=Montserrat|Montserrat+Alternates|Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		font-family: 'Montserrat Alternates', sans-serif;
}

body {
    position: relative;
}

/*
.skill{
    width: 160px;
    height: 160px;
    background-color: aqua;
}*/


/*Estilos para el encabezado*/
.header{
    
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;left: 0;
    /*position: relative;
    z-index: 2;*/
}
.container{
    width: 90%;
    max-width: 1200px;
    margin: auto;
}
.container .btn-menu, .logo {
    display: flex;
    align-items: center;
}

.container .btn-menu label{
    color: black;
    font-size: 25px;
    cursor: pointer;
}

.slider-container {
    display: inline-block;
  vertical-align: middle;
  }
  
  #opacity-slider {
    vertical-align: middle;
    margin-right: 5px;
  }

  #opacity-value {
    display: inline-block;
    min-width: 40px;
    text-align: right;
    margin-left: 5px;
  }
  
.logo h1{
    color: black;
    font-weight: 400;
    font-size: 22px;
    margin-left: 10px;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}


.container .menu {
    display: flex;
    align-items: center;
   
}

.container .menu a{
    display: inline-block;
    padding: 15px;
    line-height: normal;
    text-decoration: none;
    color: black;
    transition: all 0.3s ease;
    border-bottom: 2px solid transparent;
    font-size: 15px;
    margin-right: 5px;
}
.container .menu a:hover{
    border-bottom: 2px solid #c7c7c7;
    padding-bottom: 5px;
}

.container .menu button{
    display: inline-block;
    padding: 15px;
    line-height: normal;
    text-decoration: none;
    color: black;
    transition: all 0.3s ease;
    border: 2px solid transparent;
    /*font-size: 15px;*/
    margin-right: 5px;
}

.container .menu button:hover{
    border-bottom: 2px solid #c7c7c7;
    /*padding-bottom: 5px;*/
}

.side-menu {
    display: none;
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    width: 250px; /* Ajusta este valor según lo necesites */
    background-color: #333; /* Elige tu propio color */
    overflow: auto;
    padding: 20px;
    box-sizing: border-box;
}
.menu-toggle {
    display: none; /* Ocultar por defecto */
    position: fixed;
    top: 10px;
    right: 10px;
    font-size: 30px;
    cursor: pointer;
    z-index: 2;
  }
  
  .menu {
    transition: transform 0.3s ease; /* Añadir animación al menú */
  }
  
  @media (max-width: 600px) {
    .menu-toggle {
      display: block; /* Mostrar el botón del menú en móviles */
    }
  
    .menu {
      position: fixed;
      top: 0;
      right: 0;
      width: 80%;
      height: 100%;
      transform: translateX(100%); /* Mover el menú fuera de la pantalla */
      overflow-y: auto; /* Permitir desplazamiento si el menú es más alto que la pantalla */
      background: #fff; /* Añadir un fondo al menú */
      box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1); /* Añadir una sombra al menú */
      overflow-x: hidden;
    }
  
    .menu.active {
      transform: translateX(0); /* Mover el menú dentro de la pantalla cuando está activo */
    }
  }
  

@media screen and (max-width: 600px) {
    .container .menu button {
        padding: 10px; /* Disminuir el relleno para reducir el tamaño del botón */
        font-size: 12px; /* Disminuir el tamaño de la fuente */
        margin-right: 3px; /* Disminuir el margen */
    }

    /* Oculta el menú normal en pantallas pequeñas */
    nav.menu {
        display: none;
    }

    /* Muestra el menú lateral en pantallas pequeñas */
    .side-menu {
        display: block;
    }
}


.toggle-btn {
    display: inline-block;
    padding: 15px;
    line-height: normal;
    text-decoration: none;
    color: black;
    transition: all 0.3s ease;
    border: 2px solid transparent;
    font-size: 15px;
    margin-right: 5px;
  }
.toggle-btn.active {
    background-color: #4caf50; /* Cambia este color según lo que prefieras */
    color: white;
  }
/*Fin de Estilos para el encabezado*/

/*Menù lateral*/
#btn-menu{
    display: none;
}
.container-menu{
    position: absolute;
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 300vh;
    top: 0;left: 0;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
}
#btn-menu:checked ~ .container-menu{
    opacity: 1;
    visibility: visible;
}
.cont-menu{
    width: 100%;
    max-width: 250px;
    background: #1c1c1c;
    height: 300vh;
    position: relative;
    transition: all 500ms ease;
    transform: translateX(-100%);
    overflow-y: auto; 
    overflow-x: hidden;
    max-height: 100vh; 
}

.circular{
    position: absolute;
    z-index: 2; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 150px; /* Aquí aumentamos la altura */
    width: 150px; /* Aquí aumentamos el ancho */
  }
  .circular .inner, .circular .outer, .circular .circle{
    position: absolute;
    z-index: 6;
    height: 100%;
    width: 100%;
    border-radius: 100%;
    box-shadow: inset 0 1px 0 rgba(0,0,0,0.2);
    height: 150px; /* Aquí aumentamos la altura */
    width: 150px; /* Aquí aumentamos el ancho */
  }
  .circular .inner{
    top: 50%;
    left: 50%;
    height: 120px;
    width: 120px;
    margin: -60px 0 0 -60px;
    background-color: #dde6f0;
    border-radius: 100%;
    box-shadow: 0 1px 0 rgba(0,0,0,0.2);
  }
  .circular .circle{
    z-index: 1;
    box-shadow: none;
  }
  .circular .numb{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    font-size: 18px;
    font-weight: 500;
    color: #4158d0;
  }
  .circular .bar{
    position: absolute;
    height: 100%;
    width: 100%;
    background: #fff;
    border-radius: 100%;
    clip: rect(0px, 150px, 150px, 75px);
  }
  .circle .bar .progress{
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 100%;
    clip: rect(0px, 75px, 150px, 0px);
  }
  .circle .bar .progress, .dot span{
    background: #4158d0;
  }
  .circle .left .progress{
    z-index: 1;
    animation: left 4s linear both;
  }
  @keyframes left {
    100%{
      transform: rotate(180deg);
    }
  }
  .circle .right{
    z-index: 3;
    transform: rotate(180deg);
  }
  .circle .right .progress{
    animation: right 4s linear both;
    animation-delay: 4s;
  }
  @keyframes right {
    100%{
      transform: rotate(180deg);
    }
  }
  .circle .dot{
    z-index: 2;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 75%; /* Aquí aumentamos el ancho */
    height: 15px; /* Aquí aumentamos la altura */
    margin-top: -7.5px; /* Aquí ajustamos el margen */
    animation: dot 8s linear both;
    transform-origin: 100% 50%;
  }
  .circle .dot span {
    position: absolute;
    right: -7.5px;
    top: -7.5px;
    width: 15px; /* Aquí aumentamos el ancho */
    height: 15px; /* Aquí aumentamos la altura */
    border-radius: 100%;
  }
  @keyframes dot{
    0% {
      transform: rotate(-90deg);
    }
    50% {
      transform: rotate(90deg);
      z-index: 4;
    }
    100% {
      transform: rotate(270deg);
      z-index: 4;
    }
  }

#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.7);
    z-index: 9999;
}

#progressContainer {
    width: 50%;
    max-width: 500px;
    height: 20px;
    background: #CCC;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
}

#progressBar {
    height: 100%;
    background: #4CAF50;
    width: 0%;
}

#progressText {
    color: #FFF;
    font-family: Arial, sans-serif;
}


/* Estilos para la barra de desplazamiento del menú lateral */
.cont-menu::-webkit-scrollbar {
    width: 10px; /* Ancho de la barra de desplazamiento */
}

.cont-menu::-webkit-scrollbar-track {
    background: #2c2c2c; /* Color de fondo de la pista de la barra de desplazamiento */
    border-radius: 5px; /* Ajusta el borde redondeado de la pista */
}

.cont-menu::-webkit-scrollbar-thumb {
    background: #6a6a6a; /* Color de la barra de desplazamiento */
    border-radius: 5px; /* Ajusta el borde redondeado de la barra de desplazamiento */
}

.cont-menu::-webkit-scrollbar-thumb:hover {
    background: #888; /* Color de la barra de desplazamiento al pasar el cursor */
}

#btn-menu:checked ~ .container-menu .cont-menu{
    transform: translateX(0%);
}
.cont-menu nav{
    
    transform: translateY(5%);
    /*height: calc(100% - 50px); /* 50px es la altura del botón del menú */
    /*overflow-y: scroll;*/
}
.cont-menu nav a{
    display: block;
    text-decoration: none;
    padding: 20px;
    color: #c7c7c7;
    border-left: 5px solid transparent;
    transition: all 400ms ease;
}
.cont-menu nav a:hover{
    border-left: 5px solid #c7c7c7;
    background: #1f1f1f;
}

.cont-menu nav button{
    
    display: block;
    text-decoration: none;
    padding: 20px;
    color: #c7c7c7;
    background: #1f1f1f;
    border-left: 5px solid transparent;
    transition: all 400ms ease;
    width: 100%;
}
.cont-menu nav button:hover{
    border-left: 5px solid #c7c7c7;
    background: #1f1f1f;
}
.cont-menu label{
    position: absolute;
    right: 5px;
    top: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
}

@media (max-width: 600px) {
    .container .menu {
      flex-direction: column;
      padding-top: 10vh;
    }
  
    .container .menu button {
        display: block;
        text-decoration: none;
        padding: 20px;
        color: #c7c7c7;
        background: #1f1f1f;
        border-left: 5px solid transparent;
        transition: all 400ms ease;
        width: 100%;
        margin-bottom: 0px;
        border: 1px solid #c7c7c7; /* Cambia el color según tu diseño */
        
        
      }
  
      .container .menu button:hover{
        border-left: 5px solid #c7c7c7;
        background: #1f1f1f;
      }
  }
/*Fin de Menù lateral*/