#toggleDragDrop {
  display: none;
}

#toggleSelectedObjects {
  display: none;
}

#selectedObjectsContainer {
  display: none;
  position: fixed;
  right: 0;
  top: 0;
  width: 200px;
  height: 100%;
  overflow-y: auto;
  background-color: var(--overlay-panel-bg);
  padding: 20px;
  box-sizing: border-box;
}

#selectedObjectsContainer button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}
